.title {
   /* color: rgba(21, 118, 212, 1); */
   color: white;
   font-family: "Playfair Display", serif;
   font-size: 29pt;
   font-weight: 400;
   letter-spacing: -0.6px;
   /* line-height: 1.44; */
}

.main {
   padding-top: 5%;
}
