.navContainer {
   padding: 1rem;
   text-align: center;
}

.navbarTitle {
   font-family: "Playfair Display", "serif";
   font-size: 1.75rem;
   color: black;
   font-weight: bold;
}

.navbarLogo {
   max-width: 4rem;
   margin-right: 0.5rem;
   vertical-align: middle;
}
